.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-table-1 {
  margin: 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  margin-right: 465px;
  margin-left: 514px;
}

.u-section-1 .u-table-cell-8 {
  margin-right: 511px;
  margin-left: 380px;
}

.u-section-1 .u-table-cell-9 {
  margin-right: 465px;
  margin-left: 514px;
}

.u-section-1 .u-table-cell-15 {
  margin-right: 511px;
  margin-left: 380px;
}

.u-section-1 .u-table-cell-16 {
  margin-right: 465px;
  margin-left: 514px;
}

.u-section-1 .u-table-cell-22 {
  margin-right: 511px;
  margin-left: 380px;
}

.u-section-1 .u-table-cell-23 {
  margin-right: 465px;
  margin-left: 514px;
}

.u-section-1 .u-table-cell-29 {
  margin-right: 511px;
  margin-left: 380px;
}

.u-section-1 .u-table-cell-30 {
  margin-right: 465px;
  margin-left: 514px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-cell-2 {
    width: 160px;
    margin-right: 380px;
    margin-left: 429px;
  }

  .u-section-1 .u-table-cell-8 {
    width: 49px;
  }

  .u-section-1 .u-table-cell-9 {
    width: 160px;
    margin-right: 380px;
    margin-left: 429px;
  }

  .u-section-1 .u-table-cell-15 {
    width: 49px;
  }

  .u-section-1 .u-table-cell-16 {
    width: 160px;
    margin-right: 380px;
    margin-left: 429px;
  }

  .u-section-1 .u-table-cell-22 {
    width: 49px;
  }

  .u-section-1 .u-table-cell-23 {
    width: 160px;
    margin-right: 380px;
    margin-left: 429px;
  }

  .u-section-1 .u-table-cell-29 {
    width: 49px;
  }

  .u-section-1 .u-table-cell-30 {
    width: 160px;
    margin-right: 380px;
    margin-left: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-cell-2 {
    margin-right: 286px;
    margin-left: 335px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-right: 385px;
    margin-left: 286px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-right: 286px;
    margin-left: 335px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-right: 385px;
    margin-left: 286px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-right: 286px;
    margin-left: 335px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-right: 385px;
    margin-left: 286px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-right: 286px;
    margin-left: 335px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-right: 385px;
    margin-left: 286px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-right: 286px;
    margin-left: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-2 {
    margin-right: 209px;
    margin-left: 258px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-right: 282px;
    margin-left: 209px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-right: 209px;
    margin-left: 258px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-right: 282px;
    margin-left: 209px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-right: 209px;
    margin-left: 258px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-right: 282px;
    margin-left: 209px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-right: 209px;
    margin-left: 258px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-right: 282px;
    margin-left: 209px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-right: 209px;
    margin-left: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-cell-2 {
    margin-right: 116px;
    margin-left: 165px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-right: 175px;
    margin-left: 116px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-right: 116px;
    margin-left: 165px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-right: 175px;
    margin-left: 116px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-right: 116px;
    margin-left: 165px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-right: 175px;
    margin-left: 116px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-right: 116px;
    margin-left: 165px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-right: 175px;
    margin-left: 116px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-right: 116px;
    margin-left: 165px;
  }
}